{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register - Atlet</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="container text-center mt-3">
  <img src="https://cdn.discordapp.com/attachments/952995624951873608/1104356055129018468/17898105.png" alt="" height="100" class="d-inline-block align-text-top">
  <div class="title indigo">Register - Atlet</div>
  <a href="/register/">Ganti role</a>
  <div class="mt-3">
      <form method="POST" action="">
          <!-- {% csrf_token %} -->
          <table class="m-auto text-left">
            <tr>
              <td>
                Nama:
              </td>
              <td class="form">
                <input type="text" name="nama" id="nama">
              </td>
            </tr>

            <tr>
              <td>
                Email:
              </td>
              <td class="form">
                <input type="email" name="email" id="email">
              </td>  
            </tr>

            <tr>
              <td>
                Negara:
              </td>
              <td class="form">
                <input type="text" name="negara" id="negara">
              </td>  
            </tr>

            <tr>
              <td>
                Tanggal lahir:
              </td>
              <td class="form">
                <input type="date" name="tgl_lahir" id="tgl_lahir">
              </td>  
            </tr>

            <tr>
              <td>
                Play:
              </td>
              <td class="form">
                <input type="radio" name="play" id="left" value="left"> Left
                <input type="radio" name="play" id="right" value="right"> Right
              </td>  
            </tr>

            <tr>
              <td>
                Tinggi badan:
              </td>
              <td class="form">
                <input type="number" name="height" id="height">
              </td>  
            </tr>

            <tr>
              <td>
                Jenis Kelamin:
              </td>
              <td class="form">
                  <select name="jk" id="jk">
                      <option disabled selected>Pilih...</option>
                      <option value="m">Laki-laki</option>
                      <option value="f">Perempuan</option>
                    </select>
              </td>  
            </tr>

          </table>
        </form>

        <button type="button" class="btn btn-primary submit_btn mt-3">Register</button>

      </div>
      <div class="my-5 small-text">
          Sudah punya akun? <a href="/login/">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}