{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register - Pelatih</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="container text-center mt-3">
  <img src="https://cdn.discordapp.com/attachments/952995624951873608/1104356055129018468/17898105.png" alt="" height="100" class="d-inline-block align-text-top">
  <div class="title indigo">Register - Pelatih</div>
  <a href="/register/">Ganti role</a>
  {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
  <div class="mt-3">
      <form method="POST" action="">
          <!-- {% csrf_token %} -->
          <table class="m-auto text-left">
            <tr>
              <td>
                Nama:
              </td>
              <td class="form">
                <input type="text" name="nama" id="nama" required>
              </td>
            </tr>

            <tr>
              <td>
                Email:
              </td>
              <td class="form">
                <input type="email" name="email" id="email" required>
              </td>  
            </tr>

            <tr>
              <td>
                Kategori:
              </td>
              <td class="form">
                  <input type="checkbox" id="ms" name="kategori" value="Tunggal Putra">
                  <label for="Tunggal Putra"> Tunggal Putra  </label>
                  <input type="checkbox" id="ws" name="kategori" value="Tunggal Putri">
                  <label for="Tunggal Putri"> Tunggal Putri</label><br>
                  <input type="checkbox" id="md" name="kategori" value="Ganda Putra">
                  <label for="Ganda Putra"> Ganda Putra    </label>
                  <input type="checkbox" id="wd" name="kategori" value="Ganda Putri">
                  <label for="Ganda Putri"> Ganda Putri</label><br>
              </td>  
            </tr>

            <tr>
              <td>
                Tanggal Mulai:
              </td>
              <td class="form">
                <input type="date" name="tgl_mulai" id="tgl_mulai" required>
              </td>  
            </tr>
          </table>
          <button type="submit" class="btn btn-primary submit_btn mt-3">Register</button>
        </form>

      </div>
      <div class="my-5 small-text">
          Sudah punya akun? <a href="/login/">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}