{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard Pelatih</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
{% include "navbar-pelatih.html" %}

<div class="container m-5 text-center">
  <div class="title indigo mb-5">Dashboard Pelatih</div>
  
  <table class="text-left m-auto">
      <tr>
        <td>
          Nama
        </td>
        <td>: {{ nama }}</td>
      </tr>

      <tr>
        <td>
          Email
        </td> 
        <td>: {{ email }}</td>
      </tr>

      <tr>
        <td>
          Spesialisasi Kategori
        </td>
        <td>: 
          {% for s in spesialisasi %}
            {{s.spesialisasi}}
              {% if s != spesialisasi|last %},
              {% endif %}
          {% endfor %}
        </td>
      </tr>

      <tr>
        <td>
          Tanggal Mulai
        </td>
        <td>: {{ tgl_mulai }}</td>
      </tr>

    </table>
</div>
{% endblock content %}