{% load static %}
<script src="{% static 'navbar/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'navbar/style.css' %}">


<nav class="navbar justify-content-between" style="background-color:#5161ce" >
    <!-- Navbar content -->
    <div class="m-4">
        <ul class="nav nav-pills">
            <li>
                <a  href="#">
                    <img src="https://cdn.discordapp.com/attachments/1033777915013386362/1109367141410541598/Frame_1.png" alt="" height="36" >
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>
                    Dashboard Pelatih
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-flag"></i>
                    Latih Atlet
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Create Latih Atlet</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">List Atlet Dilatih</a>
                </div>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-danger">
        <a href="#" style="color:white">
            <i class="fas fa-sign-out-alt"></i>
            Log Out
        </a>
    </button>

  </nav>