{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5">
  <img src="https://cdn.discordapp.com/attachments/952995624951873608/1104356055129018468/17898105.png" alt="" height="200" class="d-inline-block align-text-top">
  <div class="title indigo">Babadu - 1</div>
  <div class="m-2">
      <a href="login.html" type="button" class="btn btn-primary m-1">Login</a>
      <a href="register.html" type="button" class="btn btn-primary m-1">Register</a>
  </div>
</div>
{% endblock content %}