<nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.discordapp.com/attachments/952995624951873608/1104347728059834418/Frame_1.png" alt="" height="48" class="d-inline-block align-text-top">
 
        </a>
        <!-- <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-pen"></i>
                        Daftar Atlet
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-calendar-alt"></i>
                        Lihat Event
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-clock"></i>
                        Live Score
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-trophy"></i>
                        Hasil Pertandingan
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
