<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Babadu</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/952995624951873608/1104356055129018468/17898105.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
<link rel="stylesheet" href="./style.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


<nav class="navbar justify-content-between" style="background-color:#5161ce" >
    <!-- Navbar content -->
    <div class="m-4">
        <ul class="nav nav-pills">
            <li>
                <a  href="#">
                    <img src="https://cdn.discordapp.com/attachments/1033777915013386362/1109367141410541598/Frame_1.png" alt="" height="36" >
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>
                    Dashboard Umpire
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-users"></i>
                    Atlet
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Daftar Atlet</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-book"></i>
                    Ujian Kualifikasi
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item"> Buat Ujian Kualifikasi</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">List Ujian Kualifikasi</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Riwayat Ujian Kualifikasi</a>
                </div>
            </li>

            <li class="nav-item dropdown ms-auto">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Event
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">List Partai Kompetisi</a>
                </div>
            </li>
        </ul>
    </div>

    <button type="button" class="btn btn-danger">
        <a href="#" style="color:white">
            <i class="fas fa-sign-out-alt"></i>
            Log Out
        </a>
    </button>

  </nav>
</body>
</html>