<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Babadu</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/952995624951873608/1104356055129018468/17898105.png">
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>


</head>
<!-- partial:index.partial.html -->

<!-- partial -->
<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js'></script>

{% block content %}

<body>
    {% include 'navbar-umpire.html' %}
    {% csrf_token %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Live Score Pertandingan {{namaEvent}}</h2>
            <h3>Partai {{jenisPartai}}</h3>
            <h3 class="kategori">Kategori {{kategori}}</h3>
          </div>
        </div>
     </div>

    <div class="row justify-content-center" >
        <div class="col-sm-12 my-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-5">
                            
                            <h5 style="text-align: center" class="card-title"></h5>
                            <div id="stopwatch">00:00:00.000</div>
                            <button id="startBtn" class="btn btn-primary">Start</button>
                            <button id="stopBtn" class="btn btn-danger">Stop</button>
                        </div>
                      </div>
                    
                </div>
                    <table  class="table"> 
                        <thead>
                            <tr>
                                <th>Tim 1</th>
                                <th>Tim 2</th>
                                <th>Score Tim 1</th>
                                <th>Score Tim 2</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for pertandingan in pertandingans %}
                                <tr class="data-pertandingan">
                                    <td>
                                        <p>{{ pertandingan.tim_1.nama }}</p>
                                    </td>
                                    <td>
                                        <p>{{ pertandingan.tim_2.nama }}</p>
                                    </td>
                                    <td>
                                        <button id="btn-dec-score-tim_1-{{forloop.counter0}}" onclick="changeScore('{{forloop.counter0}}', 'tim_1', 'decrement')" class="btn btn-outline-primary minus-btn" data-team="1" data-row="1">-</button>
                                        <span id="score-tim_1-{{forloop.counter0}}" class="score-text-tim1" data-score="0">0</span>
                                        <button id="btn-inc-score-tim_1-{{forloop.counter0}}" onclick="changeScore('{{forloop.counter0}}', 'tim_1', 'increment')" class="btn btn-outline-primary plus-btn" data-team="1" data-row="1">+</button>
                                    </td>
                    
                                    <!-- Example for team 2 -->
                                    <td>
                                        <button id="btn-dec-score-tim_2-{{forloop.counter0}}" onclick="changeScore('{{forloop.counter0}}', 'tim_2', 'decrement')" class="btn btn-outline-primary minus-btn" data-team="2" data-row="1">-</button>
                                        <span id="score-tim_2-{{forloop.counter0}}" class="score-text-tim2" data-score="0">0</span>
                                        <button id="btn-inc-score-tim_2-{{forloop.counter0}}" onclick="changeScore('{{forloop.counter0}}', 'tim_2', 'increment')" class="btn btn-outline-primary plus-btn" data-team="2" data-row="1">+</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button id="btnNext" class="btn btn-primary">NEXT</button>
                    <button id="btnSave" class="btn btn-primary">SAVE</button>
                </div>
            </div>
        </div>
    </div>
    

    {{ pertandingans|json_script:"data_pertandingan" }}
    <script>
        const dataPertandingan = JSON.parse(document.getElementById('data_pertandingan').textContent)


        function changeScore(idx, keyTim, operationType) {
            const idxNum = parseInt(idx)
            const pertandingan = dataPertandingan[idxNum]
            const timPertandingan = pertandingan[keyTim]
            const currentScoreEl = document.getElementById(`score-${keyTim}-${idxNum}`)
            const currentScore = parseInt(currentScoreEl.textContent.trim())
            let newScore = currentScore
            if (operationType === 'decrement') {
                if (currentScore > 0) {
                    newScore--
                    currentScoreEl.textContent = (currentScore - 1).toString()
                }
            } else {
                newScore++
                currentScoreEl.textContent = (currentScore + 1).toString()
            }
            timPertandingan.score = newScore
        }

        $(document).ready(function() {
            // Mendapatkan jumlah baris dalam tabel
            var rowCount = $('.data-pertandingan').length;

            // Menyembunyikan tombol "Simpan Poin" jika jumlah baris lebih dari 1
            if (rowCount > 1) {
                $('#btnNext').show();
                $('#btnSave').hide();
            } else {
                $('#btnNext').hide();
                $('#btnSave').show();
            }
        });

        $(document).ready(function() {
            var startTime, elapsedTimeMinute = 0;
            var timerInterval;

            function startStopwatch() {
                startTime = new Date()
                timerInterval = setInterval(updateStopwatch, 10);
            }

            function updateStopwatch() {
                var currentTime = Date.now();
                elapsedTime = currentTime - startTime.getTime();
                var formattedTime = formatTime(elapsedTime);
                $("#stopwatch").text(formattedTime);
            }

            function stopStopwatch() {
                const now = Date.now()
                elapsedTimeMinute = (now - startTime.getTime()) / 60_000
                clearInterval(timerInterval);
                // saveStopwatch(elapsedTime);
            }


            function formatTime(time) {
                var hours = Math.floor(time / 3600000);
                var minutes = Math.floor((time % 3600000) / 60000);
                var seconds = Math.floor((time % 60000) / 1000);
                var milliseconds = time % 1000;

                hours = padZero(hours, 2);
                minutes = padZero(minutes, 2);
                seconds = padZero(seconds, 2);
                milliseconds = padZero(milliseconds, 3);

                return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
            }

            function padZero(value, length) {
                return value.toString().padStart(length, "0");
            }

            $("#startBtn").click(function() {
                startStopwatch();
            });

            $("#stopBtn").click(function() {
                stopStopwatch();
            });

            $(document).ready(function() {
                var rowCount = $('.data-pertandingan').length;
                var jenisPertandingan;

                if (rowCount === 16) {
                    jenisPertandingan = 'r32';
                } else if (rowCount === 8) {
                    jenisPertandingan = 'r16';
                } else if (rowCount === 4) {
                    jenisPertandingan = 'PEREMPAT FINAL';
                } else if (rowCount === 2) {
                    jenisPertandingan = 'SEMIFINAL';
                } else if (rowCount === 1) {
                    jenisPertandingan = 'FINAL';
                }

                // Menampilkan jenis_pertandingan
                $('.card-title').text('Live Score Pertandingan ' + jenisPertandingan);
            });


            $("#btnNext").click(function () {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const padStart2 = (data) => data.toString().padStart(2, "0") 
                const startDate = startTime.getFullYear() + "-" + padStart2(startTime.getMonth() + 1) + "-" + padStart2(startTime.getDate())
                const startTimeOnly = padStart2(startTime.getHours()) + ":" + padStart2(startTime.getMinutes()) + ":" + padStart2(startTime.getSeconds())

                for (let i = 0; i < dataPertandingan.length; i++) {
                    const pertandingan = dataPertandingan[i]
                    if ((pertandingan.tim_1?.score || 0) > (pertandingan.tim_2?.score || 0)) {
                        pertandingan.tim_1.is_win = true
                        pertandingan.tim_2.is_win = false
                    } else {
                        pertandingan.tim_2.is_win = true
                        pertandingan.tim_1.is_win = false
                    }
                }

                const dataPost = {
                        'tanggal_mulai': startDate,
                        'waktu_mulai': startTimeOnly,
                        'jenis_babak': '{{ jenisBabak }}',
                        'nama_event': '{{ namaEvent }}',
                        'tahun_event': '{{ tahun }}',
                        'jenis_partai': '{{ jenisPartai }}',
                        'durasi': elapsedTimeMinute,
                        'kategori': '{{ kategori }}',
                        'data_pertandingan': dataPertandingan,
                    };

                $.ajax({
                    type: 'POST',
                    url: "/umpire/save_match",
                    contentType: 'application/json; charset=utf-8',
                    headers: {'X-CSRFToken': csrftoken},
                    data: JSON.stringify(dataPost),
                    success: function(response) {
                        console.log(response);
                        const nextBabak = response.next_babak;
                        location.href = 
                            `/umpire/live-score/${dataPost.nama_event}/${dataPost.jenis_partai}/${dataPost.tahun_event}/${dataPost.kategori}?jenisBabak=${nextBabak}`

                    },
                    error: function(xhr, textStatus, error) {
                        console.log(xhr.responseText);
                       
                    }
                });
            })

            $("#btnSave").click(function () {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const padStart2 = (data) => data.toString().padStart(2, "0") 
                const startDate = startTime.getFullYear() + "-" + padStart2(startTime.getMonth() + 1) + "-" + padStart2(startTime.getDate())
                const startTimeOnly = padStart2(startTime.getHours()) + ":" + padStart2(startTime.getMinutes()) + ":" + padStart2(startTime.getSeconds())

                for (let i = 0; i < dataPertandingan.length; i++) {
                    const pertandingan = dataPertandingan[i]
                    if ((pertandingan.tim_1?.score || 0) > (pertandingan.tim_2?.score || 0)) {
                        pertandingan.tim_1.is_win = true
                        pertandingan.tim_2.is_win = false
                    } else {
                        pertandingan.tim_2.is_win = true
                        pertandingan.tim_1.is_win = false
                    }
                }

                const dataPost = {
                        'tanggal_mulai': startDate,
                        'waktu_mulai': startTimeOnly,
                        'jenis_babak': '{{ jenisBabak }}',
                        'nama_event': '{{ namaEvent }}',
                        'tahun_event': '{{ tahun }}',
                        'jenis_partai': '{{ jenisPartai }}',
                        'durasi': elapsedTimeMinute,
                        'kategori': '{{ kategori }}',
                        'data_pertandingan': dataPertandingan,
                    };

                    $("#btnSave").click(function () {
        // ...

                    $.ajax({
                        type: 'POST',
                        url: "/umpire/save_final",
                        contentType: 'application/json; charset=utf-8',
                        headers: {'X-CSRFToken': csrftoken},
                        data: JSON.stringify(dataPost),
                        success: function(response) {
                            console.log(response);
                            const nextBabak = response.next_babak;

                            // Redirect ke halaman hasil_pertandingan.html dengan menyertakan parameter nextBabak
                            window.location.href = "#";
                        },
                        error: function(xhr, textStatus, error) {
                            console.log(xhr.responseText);
                        }
                        });
                    });
            })
        });
    </script>
 {% endblock %}
