{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard Umpire</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
{% include "navbar-umpire.html" %}
<div class="container m-5 text-center">
  <div class="title indigo mb-5">Dashboard</div>
  
  <table class="text-left m-auto">
      <tr>
        <td>
          Nama
        </td>
        <td>: {{ nama }}</td>
      </tr>

      <tr>
        <td>
          Negara
        </td> 
        <td>: {{ negara }}</td>
      </tr>

      <tr>
        <td>
          Email
        </td>
        <td>: {{ email }}</td>
      </tr>

    </table>
</div>
{% endblock content %}