{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hasil Pertandingan</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
{% include "navbar-umpire.html" %}
<div  class="container m-5 text-center">
  <div class="title indigo mb-5">Hasil Pertandingan {{ jenis_partai }} - {{ nama_event }}</div>
<div class="row">
  <div class="col-sm-12 my-auto">
    <div class="card"  >
      <div class="card-body">
          <h5 class="card-title">{{ nama_event }}</h5>
          <p class="card-text">Stadium: {{ nama_stadium }}</p>
          <p class="card-text">Hadiah: Rp {{ total_hadiah }}</p>
          <p class="card-text">Kategori Superseries: {{ kategori_superseries }}</p>
          <p class="card-text">Tanggal Mulai: {{ tgl_mulai }}</p>
          <p class="card-text">Tanggal Selesai: {{ tgl_selesai }}</p>
          <p class="card-text">Kapasitas: {{ kapasitas }}</p>
        <table class="table">
          <thead>
              <tr>
                  <th>Tahap</th>
                  <th>Nama Tim</th>
              </tr>
          </thead>
          <tbody>
              {% if juara_1 %}
              <tr>
                  <td>Juara 1</td>
                  <td>{{ juara_1 }}</td>
                </tr>
                {% endif %}
                <tr>
                  {% if juara_2 %}
                    <td>Juara 2</td>
                    <td>{{ juara_2 }}</td>
                </tr>
                {% endif %}
                {% if juara_2 %}
                <tr>
                    <td>Juara 3</td>
                    <td>{{ juara_3 }}</td>
                </tr>
                {% endif %}
                {% if semifinal %}
                <tr>
                  <td>Semifinal</td>
                  <td>{{ semifinal }}</td>
              </tr>
              {% endif %}
              <tr>
                  <td rowspan="4">Perempat Final</td>
                  <td>1</td>
              </tr>
              <tr>
                <td>2</td>
            </tr>
                <tr>
                  <td>3</td>
              </tr>
              <tr>
                <td>4</td>
            </tr>
             
          </tbody>
        </table>
        R32: {{r32}}<br>
        R16: {{r16}}
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}