% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard Atlet</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="container m-5 text-center">
  <div class="title indigo mb-5">Dashboard Atlet</div>
  
  <table class="text-left m-auto">
      <tr>
        <td>
          Nama Lengkap
        </td>
        <td>: Burr Biffin</td>
        <td></td>
        <td></td>
        <td>
          Jenis Kelamin
        </td>
        <td>: Laki-Laki</td>
      </tr>

      <tr>
        <td>
          Negara
        </td>
        <td>: Indonesia</td>
        <td></td>
        <td></td>
        <td>
          Pelatih
       </td>
      <td>: Rinaldo Sirmon</td>
      </tr>

      <tr>
        <td>
          Email
        </td> 
        <td>: bbiffina@sciencedaily.com</td>
        <td></td>
        <td></td>
        <td>
          Status
      </td>
      <td>: Qualified</td>
      </tr>

      <tr>
        <td>
          Tanggal lahir
        </td>
        <td>: 12/07/1993</td>
        <td></td>
        <td></td>
        <td>
          World Rank
      </td>
      <td>: 1</td>
      </tr>

      <tr>
        <td>
          Play
        </td>
        <td>: Right Hand</td>
        <td></td>
        <td></td>
        <td>
          Total Poin
      </td>
      <td>: 9120</td>
      </tr>

      <tr>
        <td>
          Tinggi badan
        </td>
        <td>: 165 cm</td>
      </tr>

    </table>
</div>
{% endblock content %}