{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "navbar-atlet.html" %}

<!-- partial -->
<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js'></script>
<!-- <script src="/Users/annisaazzahra/Desktop/babadu/templates/navbar/script.js"></script> -->


<
{% if message %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline">{{ message }}</span>
</div>
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mb-4">
             <h2 class="heading-section">Enrolled Events</h2>
        </div>
    </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Event</th>
              <th>Stadium</th>
              <th>Kategori Superseries </th>
              <th>Tanggal Mulai</th>
              <th>Tanggal Selesai</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for data in list_event %}
            <form method="POST" action="">
                {% csrf_token %}
                <tr>
                  <input
                    type="hidden"
                    name="nama_event"
                    value="{{data.nama_event}}"
                  />
                  <input
                    type="hidden"
                    name="nomor_peserta"
                    value="{{data.nomor_peserta}}"
                  />
                  <input type="hidden" name="tahun" value="{{data.tahun}}" />      
                    <td>{{ data.nama_event }}</td>
                    <td>{{ data.nama_stadium }}</td>
                    <td>{{ data.kategori_superseries }}</td>
                    <td>{{ data.tgl_mulai }}</td>
                    <td>{{ data.tgl_selesai }}</td>
                    <td>
                        <input
                          class="btn btn-primary" type="submit" value="Unenroll"
                        />
                    </td>
                </tr>
            </form>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
