{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Partai Kompetisi</title>
<link rel="stylesheet" href="{% static 'auth-dashboard/style.css' %}">
{% endblock meta %}

{% block content %}
{% include "navbar-atlet.html" %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Pilih Kategori</h2>

        <!-- <a href="/Users/annisaazzahra/Desktop/babadu/templates/stadium_event.html">
          <button type="button" class="btn btn-outline-primary">< Kembali ke Daftar Event</button>
        </a> -->
      </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
          Detailed Event
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ result.nama_event }}</h5>
          <p class="card-text">Total Hadiah: {{ result.total_hadiah }}</p>
          <p class="card-text">Tanggal Mulai: {{ result.tgl_mulai }}</p>
          <p class="card-text">Tanggal Selesai: {{ result.tgl_selesai }}</p>
          <p class="card-text">Kategori: {{ result.kategori_superseries }}</p>
          <p class="card-text">Kapasitas: {{ jumlah_peserta }}/{{ kapasitas_stadium }}</p>
          <p class="card-text">Stadium: {{ result.nama_stadium }}</p>
          <p class="card-text">Negara: {{ result.negara }}</p>
        </div>
      </div>
  </div>
</section>

<br>
<br>

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h5 class="heading-section">Pilih Kategori</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-primary">
                  <tr>
                      <th>No.</th>
                      <th>Kategori</th>
                      <th>Partner</th>
                      <th>Kapasitas</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in list_partai %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ item.jenis_partai }}</td>
                      <td>
                        {% if item.list_atlet %}
                          {% if item.list_atlet == '-' %}
                              {{ item.list_atlet }}
                          {% else %}
                            <div class="btn-group">
                              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{ item.list_atlet.0.nama }}
                              </button>
                              <div class="dropdown-menu">
                                  {% for atlet in item.list_atlet %}
                                      <a class="dropdown-item" href="#" data-value="{{ atlet.nama }}">{{ atlet.nama }}</a>
                                  {% endfor %}
                              </div>
                            </div>                        
                          {% endif %}
                        {% else %}
                            <!-- Handle case when list_atlet is empty -->
                            <p>No partner available</p>
                        {% endif %}
                      </td>
                      <td>
                        {{ item.kapasitas}}/{{ kapasitas_stadium}}
                      </td>
                      <td>
                        {% if item.joinable %}
                            <a href="{% url 'atlet:join-event' %}?nama_stadium={{ result.nama_stadium|urlencode }}&nama_event={{ result.nama_event|urlencode }}&tahun={{ result.tahun|urlencode }}&jenis_partai={{ item.jenis_partai|urlencode }}&partner={{ atlet.nama|urlencode }}">
                                <button type="button" class="btn btn-primary">Join</button>
                            </a>
                        {% endif %}
                    </td>                    
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.dropdown-item').on('click', function() {
            var selectedValue = $(this).data('value');
            console.log('Selected value:', selectedValue);
        });
    });
</script>


{% endblock content %}